@import "tailwindcss";

@font-face {
  font-family: 'durer';
  src: url('/fonts/Durer.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FC-subject';
  src: url('/fonts/FC-Subject-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-durer {
  font-family: 'durer', serif;
}

.font-fc-subject {
  font-family: 'FC-subject', serif;
}